<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- Single button -->
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"> Projectos <span class="caret"></span> </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="proyecto in proyectos">
                    <a href="#!/editor" ng-click="abrirProyecto(proyecto)">{{proyecto.nombre}}</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#" ng-click="nuevoProyecto()">Nuevo Proyecto</a></li>
                </ul>
            </div>
            <tree nodes='treeNodes'>

            </tree>
        </div>
        <div class="col-md-10" data-ng-init="init()">
            <center>
                <h2>Editor</h2>
                <button ng-click="guardar()">Guardar</button>
            </center>
            <div style="justify-content:center;display: flex;width:100%;">
                <div style="margin-right:auto;width:100%;height:50%">
                    <textarea id="code" style="float:left;width:100%;height:100%" name="code"> </textarea>
                </div>
            </div>
            <div>Usuarios conectados</div>
            <div>
                <ul>
                    <li ng-repeat="usuario in usuarios">
                        {{usuario.nombre}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
